#Comments should always start at the beginning of the line.

#contx/
#This ignores all the dirs with name contx
#Ignoring a dir only ignores new files created inside it. It does not include editing of existing files.

/contx/
#This ignores only contx's present in the root dir

#error.log
*.log

Untracked.txt